.layout-menu-dark {
  --menu-bg: #434b54;
  --menu-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  --root-menuitem-text-color: #cdd2db;
  --menuitem-text-color: #e5e8ec;
  --menuitem-hover-bg: #676e77;
  --active-menuitem-text-color: #ffffff;
  --active-menuitem-bg: #4e565f;
}
