.layout-topbar-light {
  --topbar-bg: #fdfeff;
  --topbar-menu-button-bg: #e8f1f8;
  --topbar-menu-button-hover-bg: rgba(232, 241, 248, 0.7);
  --topbar-item-text-color: #515c66;
  --topbar-item-hover-bg: rgba(232, 241, 248, 0.7);
  --topbar-item-secondary-text-color: rgba(81, 92, 102, 0.7);
  --topbar-item-bg-color: #e8f1f8;
}
