.layout-topbar-dark {
  --topbar-bg: #434b54;
  --topbar-menu-button-bg: rgba(202, 207, 219, 0.2);
  --topbar-menu-button-hover-bg: #4e565f;
  --topbar-item-text-color: #cacfdb;
  --topbar-item-hover-bg: rgba(78, 86, 95, 0.7);
  --topbar-item-secondary-text-color: rgba(202, 207, 219, 0.7);
  --topbar-item-bg-color: rgba(202, 207, 219, 0.2);
}
